
<img src="http://fc08.deviantart.net/fs22/i/2008/021/5/e/Happy_Daisy_by_venkman_project.jpg" id="daysie">

<div class="row">
  <div class="col-md-4">
  <h1> Your Groups </h1>
  <%= @user.firstname %>
  <%= cl_image_tag(@user.image, :width => 50, :height => 50,
      :crop => :fill, :gravity => :face) %>
  <a class="btn btn-primary" data-toggle="modal" href='#create_group'>Create a new Group</a>
    <% if @current_user.groups %>
    <%@current_user.groups.each do |i| %>
    <% @idx = i.id %>
   <% end %>
   <% end %>
  </div>

<div class="sidebar">
  <div id="buttoncontainer">
    <% if @current_user.memberships %>
      <% @current_user.memberships.each do |i| %>
        <% @idx = i.id %>
        <div class="radial_button" id="<%= @idx %>">
          <div id="sidebar">
            <img src="<%= i.group.image %>" class="group_image">
            <a><%= i.group.name %></a>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% if @current_user.memberships %>
  <% @current_user.memberships.each do |i| %>
    <% @idx = i.id %>
      <div class="radmenu">
        <a href="#" id="menu<%= @idx %>" group-id="<%= i.group_id%>" class="show" ><img class="daysie_image" src="<%= i.group.image %>"></a>
        <ul>
          <li>
            <a class="submenus" data-toggle="modal" href="<%= new_user_path(i) %>" id="<%= @idx %>" data-target="#add_user" class= "group_user_add"><i class="fa fa-user-plus"></i> </a>
            <ul>
            </ul>
          </li>
          <li>
            <a class="submenus" data-toggle="modal" data-target='#create_event' href="<%=new_user_group_event_path(@current_user,i.group)%>" class="event_add">Add an Event</a>
            <ul>
            </ul>
          </li>
          <li>
            <a class="submenus" data-toggle="modal" href="<%= user_group_path(@current_user, i) %>" id="<%= @idx %>" data-target="#group_users_show">View Members</a>
            <ul>
            </ul>
          </li>
          <% i.group.events.each do |j| %>
          <li>
            <a class="submenus" data-toggle="modal" class="event_invite" href="<%=edit_user_group_event_path(@current_user,i.group,j)%>" data-target='#event_invite'><%= j.name %></a>
            <ul>
            </ul>
          </li>
          <% end %>
        </ul>
      </div>
  <% end %>
<% end %>

 <!-- Below here be the realm of modals, ya hear? -->

 <div class="modal fade" id="create_group">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create a Group</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for [@user, @group], :html => { :id => "group_form" } do |f| %>
        <%= f.text_field :name, placeholder: "e.g. Party Girlz" %>
        <%= f.text_field :size, placeholder: "If you want to set a limit to the number of people in your group, now's the time to do it." %>
        <%= f.form_group :status, label: { text: "Status" }, help: "Do you want this to be public or private" do %>
        <%= f.radio_button :status, false, label: "Public", checked: true %>
        <%= f.radio_button :status, true, label: "Private" %>
        <%end %>

        <hr>
        <%= bootstrap_form_for :event, :html => { :id => "event_form" } do |f| %>
        <%= f.text_field :name, placeholder: "Enter a name for the event your group will be initialised with" %>
        <%= f.text_field :desc, placeholder: "Enter a description" %>
        <%= f.text_field :max, placeholder: "Enter the max size" %>
        <%= f.text_field :loc, placeholder: "Enter the location" %>
        <%= f.form_group :time, label: { text: "Does this event generally happen on a particular day of the week?" }, help: "optional" do  %>
        <span>
          <%= f.radio_button :time, "0", label: "Mon" %>
          <%= f.radio_button :time, "1", label: "Tues" %>
          <%= f.radio_button :time, "2", label: "Wed" %>
          <%= f.radio_button :time, "3", label: "Thu" %>
          <%= f.radio_button :time, "4", label: "Fri" %>
          <%= f.radio_button :time, "5", label: "Sat" %>
          <%= f.radio_button :time, "6", label: "Sun" %>
          <%end %>
        </span>
        <% end %>

        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="group_submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<% if @groups %>
  <div class="fade modal" id="event_invite">
    <div class="modal-dialog">
      <div class="modal-content">
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="fade modal" id="group_users_show">
    <div class="modal-dialog">
      <div class="modal-content">
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<% end %>

<div class="fade modal" id="create_event">
  <div class="modal-dialog">
    <div class="modal-content">

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="add_user">
  <div class="modal-dialog">
    <div class="modal-content">

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal  -->