<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title"><%= @group.name %></h4>
</div>
<div class="modal-body event-modal" id="0">
  <div class="admins">
  <h5> Admins </h5>
  <ul id="group_admins" class="group">
    <% @members.each_with_index do |j, idx| %>
      <% if j.admin %>
        <li class="member" id="<%=j.user.id%>"> <%= j.user.firstname %> </li>
      <% end %>
    <% end %>
    </ul>
  </div>
    <hr>
  <div class="members">
    <h5> Members </h5>
    <ul id="group_members" class="group">
    <% @members.each_with_index do |i, idx| %>
      <% if i.admin == false %>
      <li class="member" id="<%=i.user.id%>"> <%= i.user.firstname %> </li>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

<script>
<% membership = @current_user.memberships.find_by_group_id(params[:id]) %>
<% if membership.admin == true %>
  $("#group_members, #group_admins").sortable({
    connectWith: ".group",
    receive: function(event, ui) {
      var groupId = <%=@group.id %>

      // var serialized = $("#group_members").sortable('serialize') + "&" + $("#group_admins").sortable('serialize') + "&groupId=" + groupId;
      var id = ui.item.attr("id")
      $.ajax({
        method: "put",
        data: {
          members:$("#group_members").sortable('toArray'),
          admins:$("#group_admins").sortable('toArray'),
          groupId: groupId
        },
        url: "/users/"+id
      }).done(function(data){

        console.log(data)
      })
    }
  }).disableSelection();
<% end %>
</script>


<!--
if (ui.item.parent().attr("id") == "group_member"){
  id =  "members_" + id.slice(-1)
}else {
  id = "admins_" + id.slice(-1)
}
         -->