<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h1 class="modal-title"><%= @group.name %></h4>
</div>
<div class="modal-body event-modal" id="members 0">
  <div class="row">
    <div class="col-md-12">
      <div class="admins">
      <h5> Admins </h5>
      <ul id="group_admins" class="group list-group">
        <% @members.each_with_index do |j, idx| %>
          <% if j.admin %>
            <li class="member list-group-item" id="<%=j.user.id%>"> <%= j.user.firstname %> </li>
          <% end %>
        <% end %>
        </ul>
      </div>
      <hr>
      <div class="members">
        <h5> Members </h5>
        <ul id="group_members" class="group list-group">
        <% @members.each_with_index do |i, idx| %>
          <% if i.admin == false %>
          <li class="member list-group-item" id="<%=i.user.id%>"> <%= i.user.firstname %> </li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-12">
      <div class="trash">
        <i class="fa fa-trash pull-right fa-3x"></i>
        <ul id="group_member_delete" class="group list-group">

        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>


<script>
<% membership = @current_user.memberships.find_by_group_id(params[:id]) %>
<% if @current_user.id == membership.group.user_id %>
  $("#group_members, #group_admins, #group_member_delete").sortable({
    connectWith: ".group",
    receive: function(event, ui) {
      var groupId = <%=@group.id %>

      // var serialized = $("#group_members").sortable('serialize') + "&" + $("#group_admins").sortable('serialize') + "&groupId=" + groupId;
      var id = ui.item.attr("id")
      $.ajax({
        method: "put",
        data: {
          members:$("#group_members").sortable('toArray'),
          admins:$("#group_admins").sortable('toArray'),
          deletions:$("#group_member_delete").sortable('toArray'),
          groupId: groupId
        },
        url: "/users/"+id
      }).done(function(data){
        $("#group_member_delete").children().fadeOut(400)
        console.log(data)
      })
    }
  }).disableSelection();
<% end %>
</script>