<%= render "layouts/flash" %>
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="main-title">Daysie Chain</h1>
      <%= image_tag("daysie-chain-logo.png", :class=> "logo-main") %>
      <div class="col-md-12 text-center">
        <button class="btn-signup" data-toggle="modal" href='#sign_up'>Sign Up</button>
        <button class="btn-signin" data-toggle="modal" href='#sign_in'>Sign In</button>
      </div>
      <div class="col-md-12 text-center">
        <a data-toggle="tooltip" animation="true" title="Log in using Facebook" class="btn-fb text-center" data-placement="top" href="/auth/facebook"><i class="fa fa-facebook fa-4x fb-ico"></i></a>
      </div>

    </div>
    <div class="col-md-12">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-title" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                What is Daysie Chain?
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading"><%= image_tag("daysie-chain-logo.png", :class=> "logo-about") %></h2>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <p class="large">
                          Daysie Chain is a service that allows you to easily and quickly organize your social life. With Daysie Chain, you can add your friends to groups, create events, and track attendances. No more sloppy group texts that you can't withdraw from. Daysie Chain is now. Daysie Chain is the future.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">The Development Team</h2>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="people">
                            <%= image_tag("alex_avatar.jpg", class: "img-responsive img-circle people-image", alt: "")%>
                            <h4>Alexander Nguyen</h4>
                            <p>Fullstack development and graphic design.</p>
                            <ul class="list-inline social-buttons">
                                <li><a href="https://github.com/nguyenalexander"><i class="fa fa-github"></i></a>
                                </li>
                                <li><a href="https://www.linkedin.com/in/nguyenhalexander"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="people">
                            <%= image_tag("dave_avatar.jpg", class: "img-responsive img-circle people-image", alt: "")%>
                            <h4>Dave Raskin</h4>
                            <p>Git master and backend development.</p>
                            <ul class="list-inline social-buttons">
                                <li><a href="https://github.com/daveraskin"><i class="fa fa-github"></i></a>
                                </li>
                                <li><a href="https://www.linkedin.com/in/daveraskin"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="people">
                            <%= image_tag("trevor_avatar.jpg", class: "img-responsive img-circle people-image", alt: "")%>
                            <h4>Trevor Spears</h4>
                            <p>Product manager and frontend development.</p>
                            <ul class="list-inline social-buttons">
                                <li><a href="https://github.com/tgspears"><i class="fa fa-github"></i></a>
                                </li>
                                <li><a href="https://www.linkedin.com/in/trevorspears"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Modals!!!!!!! -->


<div class="modal fade" id="sign_up">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title">Sign Up</h1>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for @user do |f| %>
          <%= f.text_field :firstname, placeholder: 'e.g. Barack' %>
          <%= f.text_field :lastname, placeholder: 'e.g. DiCaprio' %>
          <%= f.email_field :email, placeholder: 'e.g. barack.dicaprio@netscape.com' %>
          <%= f.text_field :tel, placeholder: 'e.g. (555)-555-5556' %>
          <%= f.password_field :password, placeholder: 'e.g. ••••••••••' %>
          <%= f.password_field :confirm_password, placeholder: 'e.g. ••••••••••' %>
          <%= f.file_field :picture %>
          <%= f.hidden_field :logged_in?, value: 'no' %>
          <%= f.hidden_field :active, value: 'true' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.primary "Sign me up!" %>
      <% end %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="sign_in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title">Sign In</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for :user, url: login_path do |f| %>
          <%= f.email_field :email, placeholder: "E-mail" %>
          <%= f.password_field :password, placeholder: "Password" %>
          <span class="pull-right">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.primary "Sign in" %>
        <% end %>
        </span>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>