<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1>Daysie Chain</h1>
      <p>Hello <%= @current_user.firstname if @current_user%> </p>
      <p>
        <a class="btn btn-primary" data-toggle="modal" href='#sign_up'>Sign Up</a>
        <a class="btn btn-primary" data-toggle="modal" href='#sign_in'>Sign In</a>
        <hr>
        <a class="btn btn-primary" href="/auth/facebook"> Login With Facebook </a>
        <hr>
        <% if @current_user %>
         <a class="btn btn-primary" href='sessions/<%=@current_user.id%>' method="DESTROY">Sign out</a>
        <a class="btn btn-primary" href='<%auth_logout_path%>'>Sign out with facebook</a>
        <% end %>
      </p>
    </div>
  </div>
  <%= render "layouts/flash" %>
</div>


<!-- Modals!!!!!!! -->


<div class="modal fade" id="sign_up">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for @user do |f| %>
          <%= f.text_field :firstname, placeholder: 'e.g. Barack' %>
          <%= f.text_field :lastname, placeholder: 'e.g. Nguyen' %>
          <%= f.text_field :email, placeholder: 'e.g. barack.nguyen@whitehouse.gov' %>
          <%= f.text_field :tel, placeholder: 'e.g. (555)-555-5556' %>
          <%= f.password_field :password, placeholder: 'e.g. ••••••••••' %>
          <%= f.password_field :confirm_password, placeholder: 'e.g. ••••••••••' %>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.primary "Sign me up!" %>
      <% end %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="sign_in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sign In</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for :user, url: sessions_path do |f| %>
          <%= f.text_field :email, placeholder: "E-mail" %>
          <%= f.password_field :password, placeholder: "Password" %>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.primary "Sign in" %>
        <% end %>
      </div>
    </div>
  </div>
</div>