<%= render "layouts/flash" %>
<section id="main-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="main-title">Daysie Chain</h1>
        <%= image_tag("daysie-chain-logo.png", :class=> "logo-main") %>
      <div class="col-md-12 text-center">
        <button class="btn-signup" data-toggle="modal" href='#sign_up'>Sign Up</button>
        <button class="btn-signin" data-toggle="modal" href='#sign_in'>Sign In</button>
      </div>
      <div class="col-md-12 text-center">
        <a data-toggle="tooltip" animation="true" title="Log in using Facebook" class="btn btn-fb text-center" data-placement="top" href="/auth/facebook"><i class="fa fa-facebook fa-4x fb-ico"></i></a>
      </div>
      <div class="col-md-12 text-center">
        <a data-toggle="tooltip" animation="true" title="Log in using Facebook" id="scroll-btn" class="btn btn-fb text-center" href="#">scroll</a>
      </div>
      </div>
    </div>
  </div>
</section>
<section id="about-section">
  <div class="container-fluid">
    <div class="row about">
      <div class="col-md-4 col-md-offset-2 text-right col-xs-12 about-title">
        <h2 class="about-title">about us</h2>
      </div>
      <div class="col-md-4 col-xs-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-md-4 col-md-offset-2 col-xs-12 text-right dev-title">
        <h2 class="about-title">dave raskin</h2>
      </div>
      <div class="col-md-4 col-xs-12">
        <p> Alexander Nguyen is an eighteen-year-old web-development student based in Seattle, WA. This website is his first project for
        General Assembly's web development immersive. You can view his personal website at <a href="google.com">nguyenalexander.com</a>, or contact him at nguyen.h.alexander@gmail.com</p>
      </div>
      <div class="col-md-4 col-md-offset-2 col-xs-12 text-right dev-title">
        <h2 class="about-title">alexander nguyen</h2>
      </div>
      <div class="col-md-4 col-xs-12">
        <p>This app utilises the node environment for javascript, along with a plethora of modules, including async, bcrypt, cloudinary, passport and sequelize. This app also utilises Facebook and Mapbox's APIs. </p>
      </div>
      <div class="col-md-4 col-md-offset-2 col-xs-12 text-right dev-title">
        <h2 class="about-title">trevor spears</h2>
      </div>
      <div class="col-md-4 col-xs-12">
        <p>This app utilises the node environment for javascript, along with a plethora of modules, including async, bcrypt, cloudinary, passport and sequelize. This app also utilises Facebook and Mapbox's APIs. </p>
      </div>
    </div>
  </div>
</section>

<!-- Modals!!!!!!! -->


<div class="modal fade" id="sign_up">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for @user do |f| %>
          <%= f.text_field :firstname, placeholder: 'e.g. Barack' %>
          <%= f.text_field :lastname, placeholder: 'e.g. DiCaprio' %>
          <%= f.email_field :email, placeholder: 'e.g. barack.dicaprio@netscape.com' %>
          <%= f.text_field :tel, placeholder: 'e.g. (555)-555-5556' %>
          <%= f.password_field :password, placeholder: 'e.g. ••••••••••' %>
          <%= f.password_field :confirm_password, placeholder: 'e.g. ••••••••••' %>
          <%= f.file_field :picture %>
          <%= f.hidden_field :logged_in?, value: 'no' %>
          <%= f.hidden_field :active, value: 'true' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.primary "Sign me up!" %>
      <% end %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="sign_in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sign In</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for :user, url: login_path do |f| %>
          <%= f.email_field :email, placeholder: "E-mail" %>
          <%= f.password_field :password, placeholder: "Password" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.primary "Sign in" %>
        <% end %>
      </div>
    </div>
  </div>
</div>