<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h1 class="modal-title">New Event</h1>
</div>
<div class="modal-body">
 <%= bootstrap_form_for [@current_user, @group, @event], :html => { :class => "group_event_add_form" } do |f| %>
  <%= f.text_field :name, :label => "Event Name", placeholder: "Something simple and recognizable." %>
  <%= f.text_field :desc, :label => "Description", placeholder: "Short and sweet works best." %>
  <%= f.text_field :loc, :label => "Location", placeholder: "Where's it gonna be?" %>
  <span class="pull-right">
  <button type="button" class="btn btn-default" id="other_close_btn" data-dismiss="modal">Close</button>
  <%= f.primary "Submit" %>
  <% end %>
  </span>
</div>
<div class="modal-footer">



</div>