
<div class="jumbotron" id="event_show_jumbotron">
  <div class="container">
    <h1><%= @event.name %></h1>
    <p><div id="countdown"></div></p>
    <p><div id="now"></div></p>
  </div>
</div>

<% time = @event.time.split(":") %>

<% total_time = (time[0].to_i*60) + (time[1].to_i) + (12 * 60) %>


<div class="row">

  <table class="table table-hover">
    <tbody>

 <% @attendances.where(:event_id => @event.id).each do |user| %>
    <% if user[:yes] == true %>
      <% rsvp = "Attending" %>
   <% elsif user[:no] == true %>
      <% rsvp = "Not Attending" %>
   <% else %>
      <% rsvp = "No RSVP" %>
   <% end %>

      <tr>
        <td
           <% if user == @attendances.where(:event_id => @event.id).last %>
            class="last_row"
          <% end %>
        ><%=@users.find(user[:user_id]).firstname%></td>
        <td
           <% if user == @attendances.where(:event_id => @event.id).last %>
            class="last_row"
          <% end %>
          ><%= rsvp %></td>
        <td
           <% if user == @attendances.where(:event_id => @event.id).last %>
            class="last_row"
          <% end %>
        >
           <% if rsvp == "Not Attending" %>
          <a  href="/shade/<%=@current_user.id%>/<%=user[:user_id]%>/<%=@event.id%>"><i class="glyphicon glyphicon-sunglasses sunglasses"></i> | <span id="shade">Throw Shade</a></span>
          <% elsif rsvp == "No RSVP" %>
          <a href="/nudge/<%=@current_user.id%>/<%=user[:user_id]%>/<%=@event.id%>"><i class="glyphicon glyphicon-hand-left hand"></i> | <span id="nudge">Nudge</a>
          <% else %>
          <i class="fa fa-check checkmark"></i>
          <% end %>
        </td>
      </tr>
    <% end %>

 </tbody>
  </table>
</div>







<script>

var countdown = d3.select("#countdown"),
    today = d3.time.day(new Date),
    format = d3.time.format("%Y-%m-%d"),
    date = format.parse("<%= @event.date %>"),
    num_days = Math.floor((+date - +today)/ 86400000)
    if(num_days > 1){

    }

var formatTime = d3.time.format(num_days + ":" + "%X")


// 9 AM tomorrow
var deadline = d3.time.day.offset(today, 1);
deadline.setMinutes(<%= total_time %>);

(function tick() {

  var now = new Date;
  countdown.text(formatTime(new Date(+today + +deadline - d3.time.second(now))));
  setTimeout(tick, 1000 - now % 1000);
  console.log(d3.time.second(now))
})();


</script>