 <%= f.text_field :name, placeholder: "Enter a name for the event your group will be initialised with" %>
        <%= f.text_field :desc, placeholder: "Enter a description" %>
        <%= f.text_field :max, placeholder: "Enter the max size" %>
        <%= f.text_field :loc, placeholder: "Enter the location" %>
        <%= f.form_group :time, label: { text: "Does this event generally happen on a particular day of the week?" }, help: "optional" do  %>
        <span>
          <%= f.radio_button :time, "0", label: "Mon" %>
          <%= f.radio_button :time, "1", label: "Tues" %>
          <%= f.radio_button :time, "2", label: "Wed" %>
          <%= f.radio_button :time, "3", label: "Thu" %>
          <%= f.radio_button :time, "4", label: "Fri" %>
          <%= f.radio_button :time, "5", label: "Sat" %>
          <%= f.radio_button :time, "6", label: "Sun" %>
          <%end %>
        </span>