<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
  <title>Daysie Chain</title>
  <%= Gon::Base.render_data({}) %>
 <!--  I've added 'https:' to the front of the href's on these sheets,
   but once we stop hosting on localhost:3000, they should be removed. -->
  <link rel="stylesheet" src="https://normalize-css.googlecode.com/svn/trunk/normalize.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>
<%= render "layouts/nav" %>
<div class="container-fluid view">
<%= yield %>

</div>
</body>
</html>
